body{
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
  text-align: center;
  font-family: Helvetica,Arial,sans-serif;
  background-color: #fafafa;
  color: #6e6a6e;

}
table, th, td {
  border:  1px solid black;
}

h1{
  font-size: 69px;
  color: black;
}
h2{
  color: black;
  font-size: 40px;
}
p{
  color: grey;
  font-size: 18px;
}
